<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="/" class="brand-logo"><%=	image_tag 'hashrobot_xs.png' %></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
          <ul>
            <li><%= image_tag current_user.image_url, alt: current_user.name %></li>
            <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
          </ul>
        <% else %>
          <%=	link_to 'Login with Twitter', '/auth/twitter' %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>
