<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="http://www.hashrobot.com" class="brand-logo"><%=	image_tag 'hashrobot_xs.png' %></a>
      <div id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
          <%= link_to 'Log Out', logout_path, method: :delete, 'class' => 'nav-logout-link' %>
          <%= image_tag current_user.image_url, alt: current_user.name, 'class' => 'user-image' %>
        <% else %>
          <%= button_tag(:class => 'waves-effect waves-light btn welcome-btn') do %>
            <a href="/auth/twitter">Login with Twitter</a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>
