<div class="container col s12">

  <h1>#Robot #Dash</h1>

  <%= form_tag('/tweets/get_latest')do %>
      <%= button_tag(:class => 'btn') do %>
          <i class="fa fa-twitter"></i> &nbsp; Get Tweets
      <% end %>
  <% end %>

  <p>Show all the tweets in the db</p>

  <div class="scroll">

    <% @tweets.each do |tweet| %>

        <%= tweet.id%>
        <%= tweet.content%>
        <%= tweet.created%>
        <br>

    <% end %>

  </div>

</div>

<div class="container">
  <h2>Analyze Tweets</h2>
  <p>Run the MonkeyLearn analytics on the tweet table</p>

  <%= form_tag('/labels/create')do %>
      <%= button_tag(:class => 'btn') do %>
          <i class="fa fa-twitter"></i> &nbsp; Categorize Tweets
      <% end %>
  <% end %>

  <%= form_tag('/api/categories/rank_tags')do %>
      <%= button_tag(:class => 'btn') do %>
          <i class="fa fa-twitter"></i> &nbsp; Rank Hashtags and Update API
      <% end %>
  <% end %>


</div>


</div>
