<!DOCTYPE html>
<html>
<head>
  <title>Hashrobot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<%=	render 'shared/nav' %>

<main>
  <%= yield %>
</main>

<%=	render 'shared/footer' %>

</body>
</html>
